<div class="container">
	<div class="row h2">
		<div class="col-4">
			<p>Q2d Solutions AB</p>
		</div>
		<div class="col-4">
			<p>Ideon Lund</p>
		</div>
		<div class="col-4">
			
			<p><a href="mailto:q2d.se">Maila oss Q2D</a></p>
		</div>

	</div>	
	
	
</div>
