<div class="container-fluid">
  <div class="navbar-inner">
    <nav class="navbar navbar-expand-lg navbar-light bg-info mt-5">
      <h1 class="navbar-brand">
        <a href="#">
          <img class="img-responsive" id="logo" alt="logga" src="../assets/img/q2dlogo.png"> Q2d Solutions AB</a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Startsida
                  <span class="sr-only">(current)</span>
                </a>



              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Utbildning</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tjänster</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Om oss</a>

              </li>

            </ul>

          </div>
      </div>
  </div>
</div>
</nav>