@import 'variables/*';

.card { 
    border:none; 
} 
 
.centered { 
    position: absolute; 
    color:black; 
    font-size: 30px; 
    top: 25%; 
    left: 15%; 
    transform: translate(-25%, -25%); 
} 
 
.workshop { 
    height:50%; 
    width: 50%; 
}
#logo {
    width: 130px;
}