<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <!-- Own CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <title>Q2d</title>
 
</head>
<!--{{>header}} -->





 



<body>
  <div class="banner">
    <div class="container-fluid">

      <nav class="navbar fixed-top navbar-expand-lg my-navbar">
        <a class="navbar-brand" href="#"><h1 class="display-3">Q2d Solutions</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto ml-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#">Startsidan
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tjänster</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Utbildning
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Workshops</a>
                <a class="dropdown-item" href="#">App bygge</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Om oss</a>
            </li>
          </ul>
          
        </div>
      </nav>
       <div class="centered">
    <p><h1>Licensfria webbportaler och <br>mobila appar</h1>
    <h2>Snabbt, användarvänligt, säkert <br>och kostnadseffektivt</h2></p>
    
  </div>
  
    </div> <!--container end-->
     </div> <!--banner end -->
  










<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               DATA. DATA. DATA.
            </h1>
            <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="/assets/img/arrow-down-1.png"></a>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);">
      &nbsp;
   </div>
</section>
<div class="main">
   <section id="section2">
      <div class="container jumbo">
         <div class="jumbotron">
            <h2>Let Big Data Change the Game</h2>
            <p>WebCorpCo is all about making sure your marketing stack is in alignment with your company as well as the customers you serve. There is no 'one size fits all' approach to marketing. Every business is unique, customers are unique, and your marketing should be as well.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Läs mer</a></p>
         </div>
   </section>
   </div>




  <h1>Vi tar dina affärer till webben och mobilen</h1>


  {{>footer}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <script src="assets/js/main.js"></script>


</body>

</html>