<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <!-- Own CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <title>Q2d</title>
 
</head>
<!--{{>header}}  -->

<body>
 
  <section></section>
  <div class="banner">
    <div class="container-fluid">

      <nav class="navbar fixed-top navbar-expand-lg my-navbar">
        <a class="navbar-brand" href="#"><h1 class="display-3">Q2d Solutions</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto ml-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#">Startsidan
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tjänster</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Utbildning
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/front2">front2</a>
                <a class="dropdown-item" href="#">App bygge</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Om oss</a>
            </li>
          </ul>
          
        </div>
      </nav>
       <div class="centered">
    <p><h1>Licensfria webbportaler och <br>mobila appar</h1>
    <h1>Licensfri integration <br>IoT lösningar baserade på LoRaWan</h1></p>
    
  </div>
  <a class="ct-btn-scroll ct-js-btn-scroll" href="#section1"><img alt="Arrow Down Icon" src="/assets/img/arrow-down-1.png"></a>
    </div> <!--container end-->
     </div> <!--banner end -->
  
<section id="section1" class=" module mb-5 mt-5">
  <hr class="mb-5 mt-5">
   <div class="container">
     <hr class="mb-5 mt-5">
<div class="card-deck mt-5">
  <div class="card">
    <div class="card-header h3">Webbportaler och mobila appar</div>
    <img class="card-img-top" src="../assets/img/mobile.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sensesec</h5>
      <p class="card-text">Bästa programmvaran i världen skapad för att underlätta administrationen av ditt IoT nätverk</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-header h3">Integration</div>
    <img class="card-img-top" src="../assets/img/integration.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Webbutbildning</h5>
      <p class="card-text">Mannen, myten och legenden Andreas håller utbildning för er</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-header h3">IoT lösningar, LoRaWan</div>
    <img class="card-img-top" src="../assets/img/technology_lorawan.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SenseSec</h5>
      <p class="card-text">Bästa programmvaran i världen skapad för att underlätta administrationen av ditt IoT nätverk</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

   </section>
   


<div class="main">
   <section id="section2">
      <div class="container jumbo">
         <div class="jumbotron">
           <h1 class="display-4 text-dark">Aktuellt!</h1>
            <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">IoT lösningar baserade på LoRaWAN</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-info">Läs mer</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Utbildningar</h5>
        <p class="card-text">16/5 är det dax igen. Vi håller en workshop under en halvdag.

Under den här sessionen kommer vi att presentera de olika möjligheterna med modern webbteknik och integration. Som deltagare får du en förståelse för hur moderna applikationer byggs upp i flera lager med möjlighet till koppling eller drift i molnet. Arkitektur och teknik matchas sedan med 1 konkret behov från verksamheten, som sedan används som tema för workshopen.

Målet för deltagarna är att få en introduktion till ny teknik och nya arbetsmetoder som öppnar helt nya möjligheter och snabba resultat.

Max 10 deltagare
Pris: 6.000 SEK </p>
        <a href="#" class="btn btn-info">Läs mer</a>
      </div>
    </div>
  </div>
</div>
         </div>
         </div>
   </section>
   </div>



<section>
  
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div> 
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>
  <div class="module"></div>

</section>
  

<hr>
  {{>footer}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <script src="assets/js/main.js"></script>


</body>

</html>